header nav {
    position: absolute;
    top: 0;
    width: 75%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header div {
    display: flex;
    gap: 30px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 35px;
}

header nav ul li a {
    color: white;
    text-decoration: none;

}

header section h1 {
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18%;
}


/*---------------------------------------boutons-------------------------------------------------------------------*/

button {

    background-color: #FB2056;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 16px 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}


button:hover {
    background-color: #d81b4a;
}